* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0% 20%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: graysclae;
}

h4 {
  font-size: 1rem;
  color: rgb((56, 56, 56), green, blue);
}

h3 {
  font-size: 1.5rem;
  color: rgb((56, 56, 56), green, blue);

  line-height: 2rem 0rem;
}

a {
  color: rgb((56, 56, 56), green, blue);
  text-decoration: none;
}
